#map{ 
    height: 500px; 
    width: 700px;
}

body {
    margin: 50px;
}

#mapAndPhoto{
    display: flex;
    align-items: center;
}

#gallery {
    margin-left: 30px;
    position: relative;
}

.thumbnails{
    max-width: 500px;
    max-height: 500px;
    width: auto !important;
}

.thumbnails2{
    max-width: 300px;
    max-height: 200px;
    width: auto !important;
    display: flex;
    margin: auto;
}


.list-markers-li a{
    color: black;
}

.caption {
    position: absolute;
    display: block;
    bottom: -16px;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    background: #000;
    background: rgba(0,0,0, .8);
    color: #fff;
}

.caption2{
    text-align: center;
}


#boundsGallery {
    position: relative;      
}
.MS-content {
    white-space: nowrap;    
    overflow: hidden;        
    margin: 0 5%;            
}
.MS-content .item {
    display: inline-block;   
    width: 20%;              
    position: relative;      
    vertical-align: top;     
    overflow: hidden;        
    height: 100%;            
    white-space: normal;     
}

.MS-controls{
    display: none;
}

.MS-controls button {
    position: absolute;      
    top: 35%;
    background: none;
    border: none;
}

#boundsGallery .MS-controls .MS-left {
    left: 10px;
}
#boundsGallery .MS-controls .MS-right {
    right: 10px;
}

.fas{
    font-size: 3em;
}
