#map{ 
    height: 500px; 
    width: 700px;
}

body {
    margin: 50px;
}

#mapAndPhoto{
    display: flex;
}

#gallery, #boundsGallery {
    margin-left: 30px;
}

.thumbnails{
    max-width: 500px;
    max-height: 400px;
}

.thumbnails2{
    max-width: 300px;
    max-height: 200px;
}

#boundsGallery {
    display: flex;
}

.suggested{
    margin: 20px;
}

.list-markers-li a{
    color: black;
}